.entree_1 {
  width: 100%;
}

.entree_1, .plats_1, .dessert_1 {
  position: relative;
  color: white;
  background-color: #99E2D0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 80px;
  height: 80px;
}

h3 {
  color: black;
  width: 100%;
}

.select {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  overflow: hidden;
  -webkit-animation: select ease 0.3s;
          animation: select ease 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.prix {
  position: absolute;
  -webkit-animation: select-prix ease .3s;
          animation: select-prix ease .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  min-width: 50px;
}

.select i {
  color: transparent;
  font-size: 20px;
}

.entree_1:hover .select i {
  right: 0;
  color: white;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.entree_1:hover .prix {
  -webkit-animation: select-contain ease 0.3s;
          animation: select-contain ease 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  min-width: 50px;
}

@-webkit-keyframes select {
  0% {
    opacity: .5;
    -webkit-transform: translate(50px, 0);
            transform: translate(50px, 0);
  }
  20% {
    opacity: .6;
    -webkit-transform: translate(30px, 0);
            transform: translate(30px, 0);
  }
  40% {
    opacity: .7;
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  60% {
    opacity: .8;
    -webkit-transform: translate(15px, 0);
            transform: translate(15px, 0);
  }
  80% {
    opacity: .9;
    -webkit-transform: translate(7px, 0);
            transform: translate(7px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(1px, 0);
            transform: translate(1px, 0);
  }
}

@keyframes select {
  0% {
    opacity: .5;
    -webkit-transform: translate(50px, 0);
            transform: translate(50px, 0);
  }
  20% {
    opacity: .6;
    -webkit-transform: translate(30px, 0);
            transform: translate(30px, 0);
  }
  40% {
    opacity: .7;
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
  60% {
    opacity: .8;
    -webkit-transform: translate(15px, 0);
            transform: translate(15px, 0);
  }
  80% {
    opacity: .9;
    -webkit-transform: translate(7px, 0);
            transform: translate(7px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(1px, 0);
            transform: translate(1px, 0);
  }
}

@-webkit-keyframes select-prix {
  0% {
    -webkit-transform: translate(50px, 0);
            transform: translate(50px, 0);
  }
  40% {
    -webkit-transform: translate(25px, 0);
            transform: translate(25px, 0);
  }
  70% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(1px, 0);
            transform: translate(1px, 0);
  }
}

@keyframes select-prix {
  0% {
    -webkit-transform: translate(50px, 0);
            transform: translate(50px, 0);
  }
  40% {
    -webkit-transform: translate(25px, 0);
            transform: translate(25px, 0);
  }
  70% {
    -webkit-transform: translate(12px, 0);
            transform: translate(12px, 0);
  }
  100% {
    -webkit-transform: translate(1px, 0);
            transform: translate(1px, 0);
  }
}

.entree_1:hover .select {
  position: relative;
  color: white;
  background-color: #99E2D0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 80px;
  height: 80px;
}

.plats_1:hover .select {
  position: relative;
  color: white;
  background-color: #99E2D0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 80px;
  height: 80px;
  overflow: hidden;
  -webkit-animation: select ease 0.3s;
          animation: select ease 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.plats_1:hover .select i {
  right: 0;
  color: white;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.plats_1:hover .prix {
  -webkit-animation: select-contain ease 0.3s;
          animation: select-contain ease 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  min-width: 50px;
}

.dessert_1:hover .select {
  position: relative;
  color: white;
  background-color: #99E2D0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 80px;
  height: 80px;
  overflow: hidden;
  -webkit-animation: select ease 0.3s;
          animation: select ease 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.dessert_1:hover .select i {
  right: 0;
  color: white;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.dessert_1:hover .prix {
  -webkit-animation: select-contain ease 0.3s;
          animation: select-contain ease 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  min-width: 50px;
}

.texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -10px;
}

.descrip {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

MAX WIDTH 600px
.entree_1, .plats_1, .dessert_1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  width: 90%;
  height: 70px;
}

.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: transparent;
  right: -50px;
  top: 0;
}

.entree_1:hover .selects {
  left: 60px;
}

.plats_1:hover .selects {
  left: 60px;
  margin-top: 10px;
}

.dessert_1:hover .selects {
  left: 60px;
  margin-top: 10px;
}

.fa.fa-check-circle {
  margin-left: 3px;
}

h3, .descrip {
  margin-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=corrige.css.map */