body {
  max-width: 1580px;
  margin-left: 0;
  margin-right: 0;
  font-family: 'roboto', arial;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding-top: 20px;
}

#logo {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fa.fa-arrow-left {
  margin-top: 15px;
  margin-left: 20px;
  font-size: 20px;
}

.photo {
  position: relative;
  height: 350px;
}

#resto {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 500px;
}

main {
  position: relative;
  border-radius: 20px 20px 0px 0px;
  top: -40px;
  background-color: #f1f1f1;
  width: 100%;
  padding-bottom: 10px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

h1 {
  font-family: 'shrikhand', arial;
  margin-left: 20px;
  font-size: 25px;
}

.fa.fa-heart-o {
  margin-left: 50px;
  margin-top: 20px;
  font-size: 20px;
}

h2 {
  font-size: 20px;
  margin-top: 40px;
  margin-left: 20px;
  border-bottom: 2px solid turquoise;
  width: 3%;
}

.entree_1, .plats_1, .dessert_1 {
  border-radius: 20px;
  margin-top: 10px;
  width: 80%;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  cursor: pointer;
}

.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-align: center;
      align-items: center;
  top: 0;
  float: right;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
}

.entree_1:hover .select {
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  -webkit-transform: translateX(-2em);
          transform: translateX(-2em);
  background-color: #99E2D0;
  border: 3px solid #99E2D0;
  border-radius: 0px 20px 20px 0px;
  width: 10%;
  height: 92%;
  top: -62px;
}

.plats_1:hover .select {
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  -webkit-transform: translateX(-2em);
          transform: translateX(-2em);
  background-color: #99E2D0;
  border: 3px solid #99E2D0;
  border-radius: 0px 20px 20px 0px;
  width: 10%;
  height: 92%;
  top: -62px;
  float: right;
  left: 30px;
}

.dessert_1:hover .select {
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  -webkit-transform: translateX(-2em);
          transform: translateX(-2em);
  background-color: #99E2D0;
  border: 3px solid #99E2D0;
  border-radius: 0px 20px 20px 0px;
  width: 10%;
  height: 92%;
  top: -62px;
  float: right;
  left: 30px;
}

.fa.fa-check-circle {
  display: none;
}

.entree_1:hover .fa.fa-check-circle {
  color: white;
  margin: 0;
  display: block;
}

.plats_1:hover .fa.fa-check-circle {
  color: white;
  margin: 0;
  display: block;
}

.dessert_1:hover .fa.fa-check-circle {
  color: white;
  margin: 0;
  display: block;
}

.entrees {
  -webkit-animation: fadein 3s;
          animation: fadein 3s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.plats {
  -webkit-animation: fadein 6s;
          animation: fadein 6s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.desserts {
  -webkit-animation: fadein 9s;
          animation: fadein 9s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h3, .descrip {
  margin-left: 10px;
}

h3 {
  padding-top: 10px;
  font-weight: bold;
}

.texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -10px;
}

.descrip {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.prix {
  font-weight: bold;
  font-size: 17px;
  margin-right: 20px;
}

.bouton {
  margin-top: 40px;
  padding-top: 10px;
  border-radius: 20px;
  margin-bottom: 50px;
  width: 20%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(146, 146, 146, 0.562);
          box-shadow: 0px 5px 10px 0px rgba(146, 146, 146, 0.562);
}

.bouton:hover {
  -webkit-box-shadow: 0px 10px 20px 0px rgba(146, 146, 146, 0.822);
          box-shadow: 0px 10px 20px 0px rgba(146, 146, 146, 0.822);
}

h4 {
  color: white;
}

footer {
  color: white;
  background-color: black;
  position: absolute;
  margin-top: -40px;
  margin-bottom: 0;
  height: 250px;
  width: 100%;
}

h4 {
  margin-left: 40px;
  padding-top: 10px;
  font-size: 20px;
  font-family: 'shrikhand', arial;
}

.fa.fa-cutlery {
  margin-top: 15px;
}

.propose {
  margin-left: 25px;
  margin-top: -20px;
}

.fa.fa-handshake-o {
  margin-top: -15px;
}

.partenaire {
  margin-top: -20px;
  margin-left: 25px;
}

footer {
  color: white;
  background-color: black;
  position: absolute;
  margin-top: -40px;
  margin-bottom: 0;
  height: 250px;
  width: 100%;
}

h4 {
  margin-left: 40px;
  padding-top: 10px;
  font-size: 20px;
  font-family: 'shrikhand', arial;
}

.fa.fa-cutlery {
  margin-top: 15px;
}

.propose {
  margin-left: 25px;
  margin-top: -20px;
}

.fa.fa-handshake-o {
  margin-top: -15px;
}

.partenaire {
  margin-top: -20px;
  margin-left: 25px;
}

footer p {
  margin-left: 10px;
}

.mention {
  margin-top: -5px;
}

footer ul li {
  list-style-type: none;
  margin-top: 10px;
  margin-left: 0px;
}

@media screen and (max-width: 600px) {
  body {
    margin: auto;
    font-family: 'roboto', arial;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #logo {
    width: 40%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .fa.fa-arrow-left {
    margin-top: 25px;
    margin-left: 20px;
    font-size: 20px;
  }
  .photo {
    position: relative;
  }
  main {
    position: relative;
    border-radius: 20px 20px 0px 0px;
    margin-top: -70px;
    background-color: #f1f1f1;
    width: 100%;
    padding-bottom: 10px;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  h1 {
    font-weight: bold;
    margin-left: 10px;
    font-size: 25px;
  }
  .fa.fa-heart-o {
    margin-left: 100px;
    margin-top: 20px;
    font-size: 20px;
  }
  #resto {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 300px;
  }
  h2 {
    font-size: 20px;
    margin-top: 40px;
    margin-left: 10px;
    border-bottom: 2px solid turquoise;
    width: 10%;
  }
  .entree_1, .plats_1, .dessert_1 {
    border-radius: 20px;
    margin-top: 10px;
    width: 90%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
  }
  .select {
    margin-right: 20px;
    height: 100%;
  }
  .entree_1:hover .select {
    left: 60px;
  }
  .plats_1:hover .select {
    left: 60px;
    margin-top: 10px;
  }
  .dessert_1:hover .select {
    left: 60px;
    margin-top: 10px;
  }
  .fa.fa-check-circle {
    margin-left: 3px;
  }
  h3, .descrip {
    margin-left: 10px;
  }
  h3 {
    padding-top: 10px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .descrip {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .texte {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: -10px;
  }
  .bouton {
    margin-top: 40px;
    padding-top: 10px;
    border-radius: 20px;
    margin-bottom: 50px;
    width: 30%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
    background: linear-gradient(#ff79da, #9356dc);
  }
  h4 {
    color: white;
  }
  footer {
    color: white;
    background-color: black;
    position: absolute;
    margin-top: -40px;
    margin-bottom: 0;
    height: 250px;
    width: 100%;
  }
  h4 {
    margin-left: 40px;
    padding-top: 10px;
    font-size: 20px;
    font-family: 'shrikhand', arial;
  }
  .fa.fa-cutlery {
    margin-top: 15px;
  }
  .propose {
    margin-left: 25px;
    margin-top: -20px;
  }
  .fa.fa-handshake-o {
    margin-top: -15px;
  }
  .partenaire {
    margin-top: -20px;
    margin-left: 25px;
  }
  footer p {
    margin-left: 10px;
  }
  .mention {
    margin-top: -5px;
  }
  footer ul li {
    list-style-type: none;
    margin-top: 10px;
    margin-left: 0px;
  }
}
/*# sourceMappingURL=menus.css.map */