$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;

body {
    max-width: 1580px;
    margin-left: 0;
    margin-right: 0;
    font-family: 'roboto', arial;
}

header {
    display: flex;
    margin-bottom: 20px;
    padding-top: 20px;
}
 #logo {
     width: 20%;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

 .fa.fa-arrow-left {
    margin-top: 15px;
    margin-left: 20px;
    font-size: 20px;
    color: black;
}

 .photo {
    position: relative;
    height: 350px;
}

#resto {
    width: 100%;
    object-fit: cover;
    height: 500px;
}

main {
    position: relative;
    border-radius: 20px 20px 0px 0px;
    top: -40px;
    background-color: rgb(241, 241, 241);
    width: 100%;
    padding-bottom: 10px;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-left: 0;
    }

.menu i {
    margin-right: 20px;
    font-size: 20px;
    padding-top: 20px;
}

.like:hover {
    cursor: pointer;
    overflow: hidden;
}

.like:hover .default-icon {
    opacity: 0;
    -webkit-transition: .5s 0s ease;
    transition: .5s 0s ease;
}

.like:hover .hover-icon {
   color: $secondaire;
    opacity: 1;
    -webkit-transition: .5s 0s ease;
    transition: .5s 0s ease;
    z-index: 999;
}

.like .hover-icon {
    right: 0;
    opacity: 0;
    position: absolute;
}
h1 {
    font-family: 'shrikhand', arial;
    margin-left: 20px;
    font-size: 25px;
}


h2 {
   font-size: 20px; 
   margin-top: 40px;
   margin-left: 20px;
   border-bottom: 2px solid $tertiaire;
   width: 3%;
}


.select i { 
    color: transparent;
    font-size: 20px;
    }

.entree_1, .plats_1, .dessert_1 {
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(182, 182, 182);
    margin-top: 10px;
    width: 80%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    cursor: pointer;
}
.select {
    display: flex;
    position: relative;
    align-items: center;
    top: 0;
    float: right;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
}

.entree_1:hover .select {
    background-color: $tertiaire;
    border: 3px solid $tertiaire;
    border-radius: 0px 20px 20px 0px;
    width: 10%;
    height: 65px;
   top: -60px;
   float: right;
    overflow: hidden;
    animation: select ease 0.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
  
}

.entree_1:hover .prix {
    animation: select-contain ease 0.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    min-width: 150px;
}

.entree_1:hover .select i{
    right: 0;
    color: white;
    transition: 1s ease-in-out;
    transform: rotate(360deg);
}


.plats_1:hover .select {
    background-color: $tertiaire;
    border: 3px solid $tertiaire;
    border-radius: 0px 20px 20px 0px;
    width: 10%;
    height: 65px;
    top: -60px;
    float: right;
    overflow: hidden;
    animation: select ease 0.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}

.plats_1:hover .select i{
    right: 0;
    color: white;
    transition: 1s ease-in-out;
    transform: rotate(360deg);
}

.plats_1:hover .prix {
    animation: select-contain ease 0.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    min-width: 150px;
}

.dessert_1:hover .select {
   
    background-color: $tertiaire;
    border: 3px solid $tertiaire;
    border-radius: 0px 20px 20px 0px;
    width: 10%;
    height: 65px;
    top: -60px;
    float: right;
    overflow: hidden;
    animation: select ease 0.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}

.dessert_1:hover .select i{
    right: 0;
    color: white;
    transition: 1s ease-in-out;
    transform: rotate(360deg);
}

.dessert_1:hover .prix {
    animation: select-contain ease 0.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    min-width: 150px;
}





.entrees {
    animation: fadein 3s;
    }

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.plats {
    animation: fadein 6s;
}
@keyframes fadein {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

.desserts {
    animation: fadein 9s;
}
@keyframes fadein {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

h3, .descrip {
    margin-left: 10px;
}

h3 {
    padding-top: 10px;
    font-weight: bold;
}

.texte {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
}

.descrip {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.prix {
    font-weight: bold;
    font-size: 17px;
    margin-right: 20px;
}

.bouton {
    margin-top: 40px;
    padding-top: 10px;
    border-radius: 20px;
    margin-bottom: 50px;
    width: 20%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, from($secondaire), to($primaire));
    background: linear-gradient($secondaire, $primaire;
    box-shadow: 0px 5px 10px 0px rgba(146, 146, 146, 0.562);
    &:hover {
        box-shadow: 0px 10px 20px 0px rgba(146, 146, 146, 0.822);
    }
}

h4 {
    color: white;
}

footer {
    color: white;
    background-color: black;
    position: absolute;
    margin-top: -40px;
    margin-bottom: 0;
    height: 250px;
    width: 100%;
}
h4 {
    margin-left: 40px;
    padding-top: 10px;
    font-size: 20px;
    font-family: 'shrikhand', arial;
}
.fa.fa-cutlery {
    margin-top: 15px;
}
.propose {
    margin-left: 25px;
    margin-top: -20px;
}
.fa.fa-handshake-o {
    margin-top: -15px;
}
.partenaire {
    margin-top: -20px;
    margin-left: 25px;
}
footer {
    color: white;
    background-color: black;
    position: absolute;
    margin-top: -40px;
    margin-bottom: 0;
    height: 250px;
    width: 100%;
}
h4 {
    margin-left: 40px;
    padding-top: 10px;
    font-size: 20px;
    font-family: 'shrikhand', arial;
}
.fa.fa-cutlery {
    margin-top: 15px;
}
.propose {
    margin-left: 25px;
    margin-top: -20px;
}
.fa.fa-handshake-o {
    margin-top: -15px;
}
.partenaire {
    margin-top: -20px;
    margin-left: 25px;
}
footer p {
    margin-left: 10px;
}
.mention {
    margin-top: -5px;
}
footer ul li {
    list-style-type: none;
    margin-top: 10px;
    margin-left: 0px;
}

@media screen and (max-width: 600px) {

    body {
        margin: auto;
        font-family: 'roboto', arial;
    }

    header {
        display: flex;
    }

    #logo {
        width: 40%;
        height: 20%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .fa.fa-arrow-left {
        margin-top: 25px;
        margin-left: 20px;
        font-size: 20px;
    }

    .photo {
        position: relative;
    }

    main {
        position: relative;
        border-radius: 20px 20px 0px 0px;
        margin-top: -70px;
        background-color: rgb(241, 241, 241);
        width: 100%;
        padding-bottom: 10px;
    }

   

    h1 {
        font-weight: bold;
        margin-left: 10px;
        font-size: 25px;
    }

    
    #resto {
        width: 100%;
        object-fit: cover;
        height: 300px;
    }

    h2 {
       font-size: 20px; 
       margin-top: 40px;
       margin-left: 10px;
       border-bottom: 2px solid $tertiaire;
       width: 10%;
    }

    .entree_1:hover .select {
        width: 15%;
    }

    .plats_1:hover .select {
        width: 15%;
    }

    .dessert_1:hover .select {
        width: 15%;
    }

    .entree_1:hover .prix {
        min-width: 100px;
    }

    .plats_1:hover .prix {
        min-width: 100px;
    }

    .dessert_1:hover .prix {
        min-width: 100px;
    }

    h3, .descrip {
        margin-left: 10px;
    }

    h3 {
        padding-top: 10px;
        font-weight: bolder;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .descrip {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .texte {
        display: flex;
        justify-content: space-between;
        margin-top: -10px;
    }
    
   

    .bouton {
        margin-top: 40px;
        padding-top: 10px;
        border-radius: 20px;
        margin-bottom: 50px;
        width: 30%;
        height: 30px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        color: white;
        background: -webkit-gradient(linear, left top, left bottom, from($secondaire), to($primaire));
        background: linear-gradient($secondaire, $primaire);
    }

    h4 {
        color: white;
    }

    footer {
        color: white;
        background-color: black;
        position: absolute;
        margin-top: -40px;
        margin-bottom: 0;
        height: 250px;
        width: 100%;
    }
    h4 {
        margin-left: 40px;
        padding-top: 10px;
        font-size: 20px;
        font-family: 'shrikhand', arial;
    }
    .fa.fa-cutlery {
        margin-top: 15px;
    }
    .propose {
        margin-left: 25px;
        margin-top: -20px;
    }
    .fa.fa-handshake-o {
        margin-top: -15px;
    }
    .partenaire {
        margin-top: -20px;
        margin-left: 25px;
    }
    footer p {
        margin-left: 10px;
    }
    .mention {
        margin-top: -5px;
    }
    footer ul li {
        list-style-type: none;
        margin-top: 10px;
        margin-left: 0px;
    }


}
